:root {
  --text-col: #fff;
  --text-col-sub: #777;
  --bg-col: #121213;
  --border-col: #30313d;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: monospace;
  font-weight: 500;
  letter-spacing: 0.01rem;
}

body {
  background-color: var(--bg-col);
  color: var(--text-col);
}

main {
  max-width: 600px;
  margin: 30px auto;
}

h1 {
  text-align: center;
  color: var(--text-col);
  font-weight: 700;

  & span {
    font-size: 1rem;
    font-weight: 700;
  }
}

form {
  margin-top: 20px;

  & input {
    width: 100%;
    background-color: transparent;
    color: var(--text-col);
    border: 2px solid var(--border-col);
    padding: 5px 5px;
    border-radius: 5px;
    font-size: 1rem;
    height: 35px;
  }

  & label {
    font-size: 0.8rem;
    color: var(--text-col);
    display: block;
    margin-bottom: 5px;
  }

  & input[type="date"] {
    color-scheme: dark;
  }

  & input[type="checkbox"] {
    height: 20px;
    margin-top: 5px;
  }

  & .entry-title {
    margin-bottom: 10px;
  }

  & .entry-description {
    margin-bottom: 10px;
  }

  & .entry-details {
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr min-content;
    gap: 20px;
    margin-bottom: 5px;

    & .price-input-container {
      position: relative;
    }

    & .currency-icon {
      position: absolute;
      right: 10px;
      bottom: 9px;
      color: var(--text-col-sub);
    }
  }

  & button {
    width: 100%;
    margin-top: 10px;
    border: 0;
    border-radius: 5px;
    padding: 8px;
    font-weight: 600;
    background-color: var(--text-col);
  }
}

.transactions {
  margin-top: 20px;

  & .transaction-sort {
    width: 100%;
    text-align: right;
    padding-bottom: 10px;

    & select {
      color-scheme: dark;
      background-color: transparent;
      color: var(--text-col);
      border: 2px solid var(--border-col);
      padding: 5px 5px;
      border-radius: 5px;
      font-size: 1rem;
    }
  }

  & .transaction {
    display: flex;
    align-items: center;
    padding: 5px 0;
    gap: 10px;
    border-bottom: 2px solid var(--border-col);

    &:last-of-type {
      border: none;
    }

    & .left {
      text-align: left;
      flex-grow: 1;

      & .name {
        font-size: 1.1rem;
      }

      & .description {
        margin-top: 3px;
        font-size: 0.8rem;
        color: var(--text-col-sub);
      }
    }

    & .middle {
      text-align: right;

      & .green {
        color: rgb(98, 220, 98);
      }

      & .red {
        color: rgb(234, 107, 107);
      }

      & .date {
        font-size: 0.7rem;
        color: var(--text-col-sub);
      }
    }

    & .right {
      display: flex;
      gap: 5px;

      & button {
        border: 0;
        border-radius: 5px;
        padding: 2px 5px;
        font-weight: 600;

        &:hover {
          cursor: pointer;
        }

        &:first-of-type {
          background-color: #fbe8af;
        }

        &:last-of-type {
          background-color: #fa8282;
        }
      }
    }
  }
}

.no-transactions {
  color: var(--text-col-sub);
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
  margin-top: 50px;
  display: block;
}

.loading {
  color: var(--text-col);
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
  margin-top: 50px;
  display: block;
}

.pagination-bar {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  & .page-button {
    border: none;
    border-radius: 5px;
    padding: 3px 5px;
    background-color: var(--border-col);
    color: var(--text-col);

    &:hover {
      cursor: pointer;
      background-color: var(--text-col-sub);
    }

    &:disabled {
      background-color: transparent;
      cursor: default;
    }
  }

  & .page-number {
    color: var(--text-col-sub);
  }
}
